:root {
  --blue-light-bg: #1a96b9;
  --blue-dark-bg: #13738d;
  --red-light-bg: #c25050;
  --red-dark-bg: #9c3e3e;
}

#menu {
  transition: transform 0.5s ease-in-out;

  position: absolute;

  height: 100vh;
  width: 100%;
  padding: 60px 30px;

  display: flex;
  flex-direction: column;

  gap: 3rem;
}

#menu::before {
  content: '';
  position: absolute;
  bottom: -20vh;
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  transform: scale(1.5, 0.75);
}

#menu.river {
  background: var(--blue-light-bg);
}

#menu.river::before {
  background: var(--blue-dark-bg);
}

#menu.city {
  background: var(--red-light-bg);
}

#menu.city::before {
  background: var(--red-dark-bg);
}

.menu-item {
	width: fit-content;
  cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.menu-item:hover {
	transform: scale(1.1);
}
