main {
  grid-area: main;
	height: 100%;
  display: grid;
  padding: 0 20px;
}

#top-level-data {
  display: flex;
  justify-content: space-between;
}

#center-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle-1 {
  padding: 10px;
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.45);
}

#circle-2 {
  background-color: rgba(0, 0, 0, 0.05);
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 45px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0px 0px 45px 0px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0px 0px 45px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle-center {
	height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weather-status {
  font-size: 1.5rem;
}

#current-temp {
	padding: 40% 0;
  font-size: 4rem;
}

#conversion-container {
	width: 50%;
	display: flex;
	justify-content: space-around;
}

.conversion-btn {
	cursor: pointer;
	color: gray;
}

#fahrenheit {

}

.selected {
	pointer-events: none;
	transform: scale(1.75);
	color: white;
}

#celsius {

}

#bottom-level-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#feels-like-icon,
#humidity-icon,
#precipitation-icon,
#wind-icon {
  float: left;
  margin-right: 20px;
}

#feels-like,
#humidity,
#precipitation,
#wind-speed {
  font-size: 1.3rem;
}
