@font-face {
	font-family: 'Comfortaa';
	src: url(../assets/fonts/Comfortaa-Regular.ttf);
}

* {
	font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}

html {
	margin: 0;
	padding: 0;
	
	background: rgb(26, 150, 185);
	
	overflow: hidden;
}

#content {
	background: url(../assets/backgrounds/river.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	height: 100vh;
	width: 100%;
	transition: transform .5s ease-in-out;
	display: grid;
	grid-template: minmax(100px, .5fr) minmax(300px, 3fr) minmax(200px, 1fr) / 1fr 2fr 1fr;
	grid-template-areas: 
	". header ."
	"main main main"
	"cards cards cards"
}


#content.menu-open {
	border-radius: 25px;
	transform: translateX(40%) scale(0.9);
}

#bottom-cards-container {
	grid-area: cards;
} 

