@font-face {
	font-family: 'Comfortaa';
	src: url(../assets/fonts/Comfortaa-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}

html {
	overflow: hidden;
}

#container {
	width: 100%;
}

#bottom-cards-container {
	grid-area: cards;
} 
